<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mercado</title>
    <script th:src="@{../static/javascript.js}" type="text/javascript"></script>
    <script th:src="@{javascript.js}" type="text/javascript"></script>
</head>
<body>
<h1>Produtos</h1>

<form th:action="@{/produto(nome=${nome},tipo=${tipo})}" method="get">

    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    <label for="tipo">Tipo</label>
    <input type="text" id="tipo" name="tipo">
    <input type="submit">
</form>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Estoque</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
        <td>
            <form method="post" th:action="@{/deletar/{id}(id=${produto.getID()})}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Deletar</button>
            </form>
        </td>
        <td th:text="${produto.getID()}"> </td>
        <td th:text="${produto.getNome()}"></td>
        <td th:text="${produto.getTipo()}"></td>
        <td th:text="${produto.getValor()}"></td>
        <td th:text="${produto.getEstoque()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
